/* ------------------------- */


/* Estilos Generales */


/* ------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    margin: 0;
    color: #fff;
    position: relative;
    right: 1.5%;
}

.texto-blanco {
    font-weight: 700;
    color: #fff;
    align-items: center;
}

.texto-negro {
    color: #000;
}

.pag4 {
    position: relative;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 0;
    color: #fff;
    text-decoration: none;
    vertical-align: center;
    font-size: 25px;
    font-variant: normal;
    bottom: 320px;
    right: 25px;
}


/*Heater*/

.header1,
.header2,
.header3,
.header4,
.header5 {
    background: #000;
}


/*Icono flecha scroll*/

.flecha {
    color: #fff;
    position: absolute;
    z-index: 50;
    bottom: 4%;
    left: 47%;
    font-size: 30px;
    animation: bajar-subir 1.3s ease infinite;
}

main .section .section4 {}

main .section .section3 {}

main .section .section2 {}

main .section .section1 {}

.bg-video {
    position: relative;
    top: 0;
    right: 0;
    bottom: -500px;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background: #000;
    background-position: center;
    background-size: contain;
    object-fit: cover;
    align-items: center;
    padding: 0;
}


/*animaciones*/

@keyframes bajar-subir {
    0% {
        transform: translateY(20px);
    }
    25% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
}